.movie-info {
    padding-top: 3%;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.movie-info-img {
    margin-top: 20px;
    margin-right: 80px;
    height: 400px;
    width: auto;
    border-radius: 15px;
}