.movie-list {
    padding-top: 3%;
    justify-content: center;
    align-items: center;
}

.movie-list-header {
    padding-left: 12%;
}

.movie-list-content {
    padding-top: 3%;
    display: grid;
    grid-gap: 40px 10px;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    max-width: 1500px;
    max-height: fit-content;
}

.movie-list-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-list-box-link {
    text-decoration: none;
    color: white;
}

.movie-list-box-link:hover {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.movie-list-box-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-list-box-img {
    height: 250px;
    width: auto;
}