@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    background-color:#141414;
    color: whitesmoke;
}

.movie {
    font-family: 'Raleway', serif;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 800px;
    height: 30px;
    font-family: 'Raleway', serif;
    color: whitesmoke;
    background-color: rgb(75, 78, 90);
}

.button {
    width: 80px;
    height: 30px;
    background-color: darkred;
}

.search-icon {
    vertical-align: -15%;
    color: whitesmoke;
}

.movie-info {
    padding-top: 3%;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

.movie-info-img {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display:inline;
    height: 350px;
    width: auto;
}

.related {
    padding-top: 3%;
    justify-content: center;
    align-items: center;
}

.related-header {
    position: absolute;
    left: 12%;
}

.related-content {
    padding-top: 7%;
    display: grid;
    grid-gap: 40px 10px;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    max-width: 1500px;
    max-height: fit-content;
}

.related-movie-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.related-movie-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.related-movie-img {
    height: 250px;
    width: auto;
}